{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
</head>

<div class="container text-center">

    <h1 class="propia">{{ pregunta.pregunta_texto }}</h1>

    {% if error_form %} {{error_form}} {% endif %}

    <form method="post" action="{% url 'polls:votar' pregunta.id %}">
        {% csrf_token %}
        {% for opcion in pregunta.opciones_set.all %}

        <ul class="list-group-item list-group-item-info">
            <li>
                <input type="radio" name="opcion" id={{opcion.id}} value={{opcion.id}}>
                <label for="{{opcion.id}}"> {{ opcion.opcion_texto }} </label>
    
            </li>
        </ul>


         
         <br>

        {% endfor %}
        <button type="submit">Votar</button>

    </form>

</div>

   


{% endblock %}

