{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Preguntas</title>
</head>
<a class="btn btn-primary" href="{% url 'polls:index' %}" role="button" style="background-color: grey;">Volver Index</a>

<div class="container text-center">

    <h1 class="propia">Lista de Preguntas</h1>

    <a class="btn btn-primary" href="{% url 'polls:crear_pregunta' %}" role="button">Crear Pregunta</a>
    <div>
        <br>
    </div>
    <div class="container" style="background-color: beige;">
        <table class="table table-striped">
        <thead>
          <tr>
              <th>Pregunta</th>
              <th>Fecha</th>
              <th>Votos Totales</th>
              <th>Editar</th>
              <th>Borrar</th>
    
          </tr>
        </thead>


        <tbody>
            {% for p in lista_preguntas %}
          <tr>
            <td>{{ p.pregunta_texto }}</td>
            <td>{{ p.fecha }}</td>
            <td>{{ p.votos_totales }}</td>

            <td><a class="btn btn-primary" href="{% url 'polls:actualizar_pregunta' p.pk %}" role="button" style="background-color: green;">Actualizar</a></td>
            <td><a class="btn btn-primary" href="{% url 'polls:borrar_pregunta' p.pk %}" role="button" style="background-color: red;">Borrar</a></td>
            
           
         
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


</div>

   


{% endblock %}

